#aboutTheRestoDiv {
padding-bottom: 20px;
margin-bottom: 20px;
border-top: lightgrey solid 1px;
width: 95%;
height: auto;
}

#aboutTheRestoHeader {
    font-weight: 800;
    font-size: 20px;
    padding-top: 20px;
}

#aboutTheRestoBlurb {
    margin-top: 20px;
    line-height: 24px;
    overflow: hidden;
    color: rgb(60, 60, 60);
}

#address {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#amenitiesDiv {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: auto;
    padding-bottom: 20px;
}

#amenitiesAndMoreHeader {
    font-weight: 800;
    font-size: 20px;
    padding-top: 20px;
}

#amenitiesAndMoreWrapper {
    width: 95%;
    border-top: lightgrey solid 1px;
}

#columnsWrapper {
    display: flex;
    flex-direction: row;
}

#divider {
    font-weight: bolder;
    color: white;
}

#hours {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
    line-height: 30px;
    min-width: 350px;
    color: rgb(37, 37, 37);
}

#hoursAndLocationHeaderDiv {
    display: flex;
    font-weight: bolder;
    margin-top: 30px;
}

#hoursAndLocationHeader {
    font-weight: 800;
    font-size: 20px;
}

#leftCalOfRestoShowPage {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 12%;
    min-width: 600px;
}


#locationAndHoursDiv {
    background-color: blueviolet;
}

#locationAndHoursWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: auto;
    border-top: solid;
    border-top-color: lightgrey;
    border-width: 1px;
    margin-top: 25px;
}

#mapAndAddressWrapper {
    display: flex;
    flex-direction: column;
}

#mapImageAndHoursWrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    min-width: 400px;
}

#myContactInfoAndResume {
    border: rgb(218, 217, 217) solid 1px;
}


#priceAndCuisineWrapper {
    font-size: 16px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#priceRange {
    font-weight: bold;
    color: white;
}



/* #quickAccessButtonsDiv {
    border: black solid 1px;
    display: flex;
    justify-content: left;
} */


#restoContactInfo {
    border: rgb(218, 217, 217) solid 1px;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 20px;
    min-width: 250px;
}

#restoWebsiteLink {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: lightgrey;
    padding-bottom: 20px;
    display: flex;
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    color: rgba(2,122,151,1);
}

#restoWebsiteLink:visited {
    color: rgba(2,122,151,1);
    font-size: 16px bolder;
    text-decoration: none;
}


#restoPhoneNumber {
    padding-top: 20px;
    display: flex;
    font-size: 16px;
    line-height: 24px;
}


#restoImgBanner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 0 90%;
    position: absolute;
    z-index: 0;
    top: 100px;
    left: 0;
    background-origin: border-box;
    background-repeat: no-repeat;
    filter: brightness(45%);
}


#restoNameHeader {
    font-size: 54px;
    color: white;
    font-weight: 800;
}

#RestoHeaderDiv {
    margin-left: 12%;
    padding-top: 250px;
    /* margin-top: 25%; */
    margin-bottom: 75px;
    z-index: 1;
    position: relative;
    font-size: 14px;
    min-width: 400px;
}

#reviewsHeader {
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 20px;
}

#ReviewsSection {
    display: flex;
    flex-direction: column;
}

#reviewDiv {
    margin-bottom: 25px;
}


#reviewIcon {
    padding-bottom: 3px;
    padding-right: 5px;
}

#smallMapLocation {
    width: 300px;
    height: 150px;
}


#starsOnRestoShowPageDiv {
    display: flex;
    flex-direction: row;
    
}

.starsOnRestoShowPage {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

#stickyContactMeHeaderDiv {
    font-weight: 800;
    font-size: 20px;
}

#stickyRigthColOfRestoShowPage {
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    /* margin-left: 100px; */
    width: 35%;
    margin-right: 12%;
}

#todaysHours {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

#writeAReviewButton {
    background-color: red;
    border-color: red;
    border-style: solid;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 40px;
    cursor: pointer;
}

#writeAReviewButtonLink {
    width: 190px;
}