#aboutTheRestoDiv {
padding-bottom: 20px;
margin-bottom: 20px;
border-top: lightgrey solid 1px;
width: 95%;
height: auto;
}

#aboutTheRestoHeader {
    font-weight: 800;
    font-size: 20px;
    padding-top: 20px;
}

#aboutTheRestoBlurb {
    margin-top: 20px;
    line-height: 24px;
    overflow: hidden;
    color: rgb(60, 60, 60);
}

#address {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    line-height: 1.2em;
    font-size: 16px;
}

#addressLine1 {
    color: rgba(2,122,151,1);
    font-weight: bold;
    overflow-wrap: normal;
}

#addressLine2 {
    font-weight: bold;
}

#amenitiesDiv {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: auto;
    padding-bottom: 20px;
}

#amenitiesAndMoreHeader {
    font-weight: 800;
    font-size: 20px;
    padding-top: 20px;
}

#amenitiesAndMoreWrapper {
    width: 95%;
    border-top: lightgrey solid 1px;
}

#availablilityRestoShow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    margin-bottom: 20px;
}

#availablilityRestoShow > div {
    width: 100px;
    border-right: lightgrey solid 1px;
}


#columnsWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left:auto;
    margin-right: auto;
    max-width: 1200px;
}

#divider {
    font-weight: bolder;
    color: white;
}

#emailInputFieldDiv {
    height: auto;
    width: 100%;
    display:flex; 
    justify-content: center;
    margin-bottom: 15px;
}

#emailInputField {
    width: 100%;
    padding: 15px;
    color: grey;
    border: lightgrey solid 1px;
    border-radius: 4px;
    font-size: 14px;
}

#getDirectionsDiv {
    border: grey solid 1px;
    border-radius: 4px;
    padding: 10px;

}

#hours {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 1px;
    min-width: 350px;
    color: rgb(58, 58, 58);
}

#hoursAndLocationHeaderDiv {
    display: flex;
    font-weight: bolder;
    margin-top: 30px;
}

#hoursAndLocationHeader {
    font-weight: 800;
    font-size: 20px;
}

#leftColOfRestoShowPage {
    display: flex;
    flex-direction: column;
    width: 69%;
    min-width: 600px;
}


#locationAndHoursDiv {
    background-color: blueviolet;
}

#locationAndHoursWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: auto;
    border-top: solid;
    border-top-color: lightgrey;
    border-width: 1px;
    margin-top: 25px;
}

#mapAndAddressWrapper {
    display: flex;
    flex-direction: column;
}

#mapImageAndHoursWrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    min-width: 400px;
}

#myContactInfoAndResume {
    padding: 20px;
    border: rgb(218, 217, 217) solid 1px;
    border-radius: 4px;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
}


#priceAndCuisineWrapper {
    font-size: 16px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#priceRange {
    font-weight: bold;
    color: white;
}



/* #quickAccessButtonsDiv {
    border: black solid 1px;
    display: flex;
    justify-content: left;
} */


#restoContactInfo {
    border: rgb(218, 217, 217) solid 1px;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 20px;
    min-width: 250px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#restoWebsiteLinkDiv {
    border-bottom: lightgrey solid 1px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restoWebsiteLink{
    font: 16px;
    font-weight: bolder;
    line-height: 24px;
    color: rgba(2,122,151,1);
}

.restoWebsiteLink:visited {
    color: rgba(2,122,151,1);
    text-decoration: none;
}


#restoPhoneNumber {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}


#restoImgBanner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 0 90%;
    position: absolute;
    z-index: 0;
    top: 100px;
    left: 0;
    background-origin: border-box;
    background-repeat: no-repeat;
    filter: brightness(45%);
}


#restoNameHeader {
    font-size: 54px;
    color: white;
    font-weight: 800;
}

#RestoHeaderDiv {
    padding-top: 250px;
    margin-bottom: 75px;
    margin-left:auto;
    margin-right: auto;
    max-width: 1200px;
    z-index: 1;
    position: relative;
    font-size: 14px;
    min-width: 400px;
}

#restoShowPersonalLinks{
    display: flex;
    margin-bottom: 10px;
}

#resumeDownloadRestoShow {
    background-color: rgb(231, 3, 3);
    border: rgb(231, 3, 3) solid 1px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

#resumeDownloadRestoShow:hover {
    background-color: red;
    text-decoration: underline white;
}

#resumeLink {
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showPagePortfolioLink {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    border-bottom: red solid 4px;
}

#showPageLinkedInLink {
    padding: 10px;
    color: grey;
    font-size: 16px;
}

#showPageLinkedInLink:hover {
    color: black;
}

#reviewsHeader {
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 20px;
}

#ReviewsSection {
    display: flex;
    flex-direction: column;
}

#reviewDiv {
    margin-bottom: 25px;
}


#reviewIcon {
    padding-bottom: 3px;
    padding-right: 5px;
}

#smallMapLocation {
    width: 300px;
    height: 150px;
}


#starsOnRestoShowPageDiv {
    display: flex;
    flex-direction: row;
    
}

.starsOnRestoShowPage {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

#stickyContactMeHeaderDiv {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 25px;
}

#stickyRightColOfRestoShowPage{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#todaysHours {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

#dayAndTodayTagWrapper {
    display: flex;
    justify-content: space-between;
}

#underMapAddressWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#writeAReviewButton {
    background-color: rgb(231, 3, 3);
    border-color: red;
    border-style: solid;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 40px;
    cursor: pointer;
}

#writeAReviewButton:hover {
    background-color: red;
}

#writeAReviewButtonLink {
    width: 190px;
}