#clearFiltersButton {
    background-color: white;
    border: none;
    color: blue;
    cursor: pointer;
}

#filterHeaderAndClearFilterDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

.priceFilterButton {
    display: flex;
    justify-content: center;
}

#priceButtonsListDiv > .priceFilterButton {
    background-color: white;
    border: lightgrey solid 0.5px;
    padding: 10px;
    width: 52px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(73, 73, 73);
    margin-bottom: 20px;
}

#priceButtonsListDiv > .priceFilterButton:hover {
    background-color: rgb(216, 214, 214);
}

#priceButtonsListDiv {
    height: 50px;
    border-bottom: solid rgb(199, 199, 199) 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#filterHeader {
    padding-bottom: 20px;
    font-weight: bolder;
    color: rgb(54, 54, 54);
}