#clearFiltersButton {
    background-color: white;
    border: none;
    color: blue;
    cursor: pointer;
}

#filterHeaderAndClearFilterDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

#neighborhoodsFilter {
    margin-top: 25px;
    border-bottom: lightgrey solid 1px;
    padding-bottom: 25px;
}

#neighborhoodFilterItem{
    color: rgb(100, 100, 100);
}

#neighborhoodFilterItem:hover {
    text-decoration: underline;
}

#neighborhoodLabel {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
}

#neighborhoodListItem {
    list-style-position: inside;
    list-style-type: disc;
    margin-top: 5px;
}

.priceFilterButton {
    display: flex;
    justify-content: center;
}

#priceButtonsListDiv > .priceFilterButton {
    background-color: white;
    border: lightgrey solid 0.5px;
    padding: 10px;
    width: 52px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(73, 73, 73);
    margin-bottom: 20px;
}

#priceButtonsListDiv > .priceFilterButton:hover {
    background-color: rgb(216, 214, 214);
}

#priceButtonsListDiv {
    height: 50px;
    border-bottom: solid rgb(199, 199, 199) 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#filterHeader {
    padding-bottom: 20px;
    font-weight: bolder;
    color: rgb(54, 54, 54);
}