#logInHPButton {
    font-size: 16px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    background: transparent;
    margin-right: 10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.logo {
    width: 100px;
    height: 30px;
    /* margin-left: 50px; */
    /* display: flex; */
    font-size: 24px;
    font-weight: bolder;
}

.logoDiv {
    width: 13%;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-right: 100px; */
    display: flex;
    justify-content: center;


}

#navBar {
    height: 100px;
    min-width: 1057px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: #e7e6e6;
    z-index: 1;
    position: relative;
    
}

#signUpHPButton {
    margin-right: 50px;
    font-size: 16px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bolder;
    border-style: solid 2px;
    background: transparent;
    background: #d32323;
    border-color: #d32323;
    border-style: solid;
    color: white;
}

#searchBar {
    width:  90%;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: none;
    min-width: 200px;
}

#searchBarDiv {
    width: 1000px;
    display: flex;
}

.personalLinks {
    border-style: none;
    border: transparent;
    background: transparent;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    padding: 20px;
    display: inline-block;
}

#searchButton {
    background: #d32323;
    border-color: #d32323;
    border-style: solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 42px;
    cursor: pointer;
}

#startSessionLinks {
    display: inline-block
}